.btn {
  font-size: $medium-size;
  text-decoration: none;

  &__primary {
    @extend .btn;
    @include button(100%, "primary");
    max-width: 40rem;
    margin: 0 auto;
  }
  &__secondary {
    @extend .btn;
    @include button(auto, "secondary");
  }
}
