html {
  box-sizing: border-box;
  font-family: $font-primary;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
  font-size: $regular-size;
  font-family: $font-primary;
  color: $black-universe;
}

a,
.link {
  color: $accent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $bold;
}

h1 {
  display: flex;
  margin: 1.6rem auto;
  font-size: 5.6rem;
  font-family: $font-secondary;
  color: $orange-zoidberg;
  letter-spacing: 0.2rem;
  text-align: center;
  height: auto;
  max-height: 10rem;
  & > span {
    color: $grey-glasses;
  }

  @include tablet {
    margin: 0.8rem auto;
    flex-direction: column;
  }
}

h2 {
  font-size: $big-size;
  color: $black-universe;
  margin: 1.6rem 0;
}

p {
  margin: 0.4rem 0;
  line-height: initial;
  font-size: $medium-size;
  color: $black-universe;
}

ul {
  padding: 0;
}

input,
button,
select {
  outline: 0;
}

.space {
  background-color: $black-universe;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  z-index: 0;
}

.wrapper {
  background-color: $black-universe;
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  @include tablet {
    padding-top: 2rem;
  }
}

.container {
  display: flex;
  justify-content: center;
  padding: $global-padding;
  width: 100%;
  max-width: $maxwidth-containner;
  flex-wrap: wrap;
  min-height: 100vh;
  @include tablet {
    padding: 0 1.6rem;
  }
  @include mobile {
    padding: 0 4%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  overflow-wrap: break-word;

  &.center {
    justify-content: center;
  }

  &.between {
    justify-content: space-evenly;
  }

  &.right {
    justify-content: flex-end;
  }

  &.md {
    width: 48%;
    @include tablet {
      width: 100%;
    }
  }
  &.sm {
    width: 32%;
    @include tablet {
      width: 100%;
    }
  }
  &.xcenter {
    align-items: center;
  }
}

.col {
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: auto;
  width: 100%;
  overflow-wrap: break-word;

  &.center {
    justify-content: center;
  }

  &.bottom {
    justify-content: flex-end;
  }

  &.md {
    width: 48%;
    @include tablet {
      width: 100%;
    }
  }
  &.sm {
    width: 32.666%;
    @include tablet {
      width: 100%;
    }
  }
}

.hide-on-mobile {
  display: flex;
  @include tablet {
    display: none;
  }
}

.show-on-mobile {
  display: none;
  @include tablet {
    display: flex;
  }
}

hr {
  height: 1px;
  background-color: #cccccc;
  overflow: visible;
  border: none;
  width: 100%;
}
